<div class="affiliations" style="overflow-x: auto; display: block; white-space: nowrap;">
    <h2>Affiliations & Internships</h2>

    <table align="center" style="border-collapse: collapse; margin: 0 auto;">
        <tbody>
        <tr>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <a href="https://iiitd.ac.in/" target="_blank">
                <img style="width:80px; max-width: 100%;" src="/assets/img/iiitd_logo.jpeg"></a>&nbsp; &nbsp;
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <a href="https://www.nucleussoftware.com/" target="_blank">
                <img style="width:120px; max-width: 100%;" src="/assets/img/ns.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <a href="https://www.publicissapient.com/" target="_blank">
                <img style="width:120px; max-width: 100%;" src="/assets/img/ps.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <a href="https://www.cs.utah.edu/" target="_blank">
                <img style="width:120px; max-width: 100%;" src="/assets/img/utah.png"></a>&nbsp; &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <font size="2">IIIT Delhi<br>2017-2021<br>B. Tech Computer Science <br> with Applied Mathematics</font>
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <font size="2">Nucleus Software<br>Summer 2020<br>Software Developer <br> Engineer Intern<br> </font>
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <font size="2">Publicis Sapient<br>2021-23<br> Associate Software <br> Developer Engineer<br></font>
            </td>
            <td align="center" style="padding: 10px; border: 1px solid #ddd;">
                <font size="2">University of Utah<br>2023-Present<br>MS Computer Science</font>
            </td>
        </tr>
        </tbody>
    </table>
</div>
